#container{
    background-color: aquamarine;
    display:flex;
    flex-wrap: wrap;
}
#container >*{
    background-color: beige;
    margin:  10px;
    padding: 20px;
}
header,footer,nav{
    text-align: center;
    width: 100%;
}
nav{
    display: flex;
    padding: 0px !important;
}
nav a{
    text-decoration: none ;
    color: black;
    padding: 20px;
}
nav a:hover{
    background-color: black;
    color:white;
}

article img{
    width:200px;
    float: left;
    margin-right:15px;
}
aside{
    width:0%;
    flex-grow:1;
}
article{
    width: 0%;
    flex-grow: 3;
}

@media (max-width: 600px){
    #container {
      background-color: red;
    }
    article{
       width: 100%;
    }
    aside{
    order: 1;
    }
    footer{
    order: 2;
    }
}
@media (max-width: 450px){
    nav{
        flex-direction: column;
        display:none;
    }
    #hamburger{
        display:none;
    }
    #hamburger-label{
        width:100%;
        text-align: center;
    }
    #hamburger:checked~nav{
        display:flex;
    }
    aside{
        width:100%
    }
    article{
        width:100%
    }
    article img{
        width:100%
    }
}